@charset "UTF-8";
/* CSS Document */

.promo-1{
	overflow: hidden;
	float: center;
	margin-top: 10px;
	margin-left: 10px;
	background-image: url(.../images/promo-1.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.promo-2{
	overflow: hidden;
	float: center;
	margin-top: 10px;
	margin-left: 10px;
	background-image: url(.../images/promo-2.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.promo-3{
	overflow: hidden;
	float: center;
	margin-top: 10px;
	margin-left: 10px;
	background-image: url(.../images/promo-3.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.promo-large{
	overflow: hidden;
	float: center;
	margin-top: 10px;
	margin-left: 10px;
	background: #fff;
	background-image: url(.../images/large-promo.svg);
	background-position: center;
	background-repeat: no-repeat;
}


.promo-body{
	margin: 10px 10px 10px 10px;
	float: right;
}

.promo p{
	margin: 10px 10px 10px 10px;
	float: right;
}

.promo h2{
	margin: 10px 10px 10px 10px;
	float: right;
}

.promo h3{
	margin: 10px 10px 10px 10px;
	float: right;
}

