html {
	margin: 0;
	padding: 0;

	font: normal 100%/1.4 Georgia;
}
/*  HEADER  */
header {
	overflow: auto;
}

 header img {
	max-height: 150px;
	margin-left: auto;
	margin-right: auto;
 }

/*  NAV  */
.current {
	background-color: #ccc;
	color: #fff;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;	
	background: #fff url(../images/nav-icon.svg) no-repeat center center;
	/* background-color || background-image || background-repeat || background-position*/
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background: #fff url(../images/nav-close.svg) no-repeat center center;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	padding: 1rem;
	text-align:center;
	color: #ccc;
	text-decoration: none;
	background-color: #fff;
	border-top: 1px solid #fff;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #999;
}

	/* Toggle Nav*/

.nav-top{
	display: none;
}

.nav-top[data-state="expanded"]{
	display: block;
}
	
@media only screen and (min-width: 25em){
.nav{
	overflow: auto;
}
	
.nav li{
	margin-left: auto;
	margin-right: auto;
	width: 33.33%;
}
	
.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: none;
}
	
.nav-top{
	display: block;
}

}

@media only screen and (min-width: 35em){
.nav{
	background-color: #fff;
	text-align: center;
}
	
.nav li{
	display: inline-block;
	margin-left: auto;
   margin-right: auto;
	width:auto;
}
	
.nav a, 
.nav a:link,
.nav a:visited{
	border-top: 0;
}
	
.nav-top{
	margin-left: auto;
	margin-right: auto;
}

}

 
