@charset "UTF-8";
/* CSS Document */

main {
	margin-left: auto;
	margin-right: auto;
}

.product-detail{
	border: 1px solid rgb(238, 239, 247);
	overflow: hidden;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.product-img{
	float: left;
	margin: 10px 10px 10px 10px;
}

.product-img-stacked {
	float: none;
	margin: 0;
}

.product-body{
	overflow: hidden;
}

.product-detail p{
	margin: 10px 10px 10px 10px;
}

.product-detail h2{
	margin: 10px 10px 10px 10px;
	float: center;
}

.product-detail h5{
	margin: 10px 10px 10px 10px;
	float: center;
}

/* Rating */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: #92CDCF;
}
