@charset "UTF-8";
/* CSS Document */
/* 
#1C1D21 / rgb(28,29,33) - Navy/Black
#31353D / rgb(49, 53, 61) - Blue/Gray
#445878 / rgb(68, 88, 120) - Blue
#92CDCF / rgb(146, 205, 207) - Light Blue/Teal
#EEEFF7 / rgb(238, 239, 247) - Off white
*/

html{
	font: normal 100%/1.5 'Source Sans Pro', sans-serif; /* 16px/24px */;
	color: #1C1D21;
}

a:selection{
	background-color: #445878;
	color: #fff;
}

a,
a:link {
	color: #445878;
	text-decoration: none;
	transition: all 200ms linear;
}

a:visited {
	color: #445878;
	border-bottom: #445878;
}

a:hover,
a:focus,
a:active {
	color: #92CDCF;
	border-bottom: #92CDCF;
}

a:hover;
a: active {
	/* We can remove the outline from mouse-based actions only */
	outline: none;
}

a:focus {
	/* The outline must be on the focus state for keyboard access */
	outline: 2px solid #000;
}

.yotta {
	font-size: 0.889rem;
	line-height: 1.315;	
}

.zetta {
	font-size: 2.027rem;
	line-height: 1.4798;	
}


h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockhead, table {
margin: 0 0 1.5rem;
}	 

h1, .exa {
	font-family: 'Oxygen', sans-serif;
	color: #445878;
	font-size: 1.802rem;
	line-height: 1.6648;	
}

h2, .peta {
	font-family: 'Oxygen', sans-serif;
	color: #445878;
	font-size: 1.602rem;
	line-height: 1.8729;	
}

h3, .tera {
	font-family: 'Oxygen', sans-serif;
	color: #445878;
	font-size: 1.424rem;
	line-height: 1.0535;	
}

h4, .giga {
	font-family: 'Oxygen', sans-serif;
	color: #445878;
	font-size: 1.266rem;
	line-height: 1.1852;	
}

h5, .mega {
	font-family: 'Oxygen', sans-serif;
	color: #445878;
	font-size: 1.125rem;
	line-height: 1.3333;	
}

h6, .kilo {
	font-family: 'Oxygen', sans-serif;
	color: #445878;
	font-size: 1rem;	
	line-height: 1.5000;
}

small, .milli {
	font-size: 0.889rem;	
	line-height: 1.6875;
}

.micro {
	font-size: 0.79rem;	
	line-height: 1.8984;
}

ul {
	list-style-type: none;
	color: #31353D;
}

ul li{
	position: relative;
	color: #ccc;
}

ul li:before {
	content:"";
	color: #31353D;
	position: absolute;
	left: -1.3em;
}

table th {
	font-family: 'Oxygen', sans-serif;
	color: #445878;
}

table td {
	font-family: 'Source Sans Pro', sans-serif;
	color: #31353D;
}

table tr:nth-child(even){
	background-color: #EEEFF7;
}


