# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Kayla Araujo}
- {Grant Jeffery}
- {Sasha Chama}
- {}
- {}
- {}

## Tasks

1. {Search for an item}
2. {Purchase an item and enter check-out}
3. {Find product-1-a}

---

## Individual Results & Observations

### {Kayla Araujo}

- {Mobility impaired}
- {completed the task with little to no difficultty}
- {one occasion, the button was missed and the tab button had to cycle through again}
- {may be helpful to have more specific menu options}
- {the button may need to be more visible}

### {Grant Jeffery}

- {Visually impaired}
- {Completed the task as expected…}
- {Long titles made it take a while}
- {Streamlining the menu lists may be beneficial}

### {Sasha Chama}

- {Mobility impaired}
- {completed the task with little to no difficultty}
- {had no troubles navigating}
- {More specific product names}

### {Sasha Chama}

- {Visually imapaired}
- {Completed the task with slight difficulty}
- {Small troubles navigating through lists}
- {More specific product names}

### {Grant Jeffery}

- {Mobility Impaired}
- {He completed the task with no difficulty}
- {Long product titles and navigation took time to cycle through}
- {more specific naming}

### {Elisa Koon}

- {Visually Impaired}
- {Had some trouble navigating}
- {Streamline menu items}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants were frustrated by long title names etc.}
- {Solve this problem by creating more specific menu titles}

### Serious, Causes Frustration, May Hinder Completion

- {Some accesssibility issues, need to work out kinks on html}

### Minor, Annoying, Won’t Hinder Completion

- {Unspecific menu names}
- {Streamlining menu order and navigation}