# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Grant Jeffery}
- {Sasha Chama}
- {Kayla Araujo}

## Tasks

1. Find Product-2-b using the navigation bar.
2. Find Product-1-a using the search bar.
3. Buy a product and reach the check out page.

---

## Individual Results & Observations

### {Grant Jeffery}

- {She clicked on the link as expected…}
- {She had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Sasha Chama}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Kayla Araujo}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.