# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Grant Jeffery}
- {Sasha Chama}
- {Kayla Araujo}

## Tasks

1. Find Product-2-b using the navigation bar.
2. Find Product-1-a using the search bar.
3. Buy a product and reach the check out page.

---

## Individual Results & Observations

### {Grant Jeffery}

- {Navigated webpage with no issues}
- {Was able to complete all tasks without question}
- {Just needs streamling}


### {Sasha Chama}

- {Slight confusion of categories list, might help to add a detailed sub-nav}
- {Completed tasks with little to no confusion}
- {Used search bar well}
- {Fill in any observations that were important/relevant…}

### {Kayla Araujo}

- {Completed all tasks with no questions}
- {Intuitivly used nav}
- {Able to locate products with ease.}
- {May be beneficial to add a more detailed subnav}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Categories list is long, may need more specific sub nav}

### Serious, Causes Frustration, May Hinder Completion

- {Nav could use more detail}

### Minor, Annoying, Won’t Hinder Completion

- {Some small html bugs}