	<a href="#nav" class="nav-btn hide-text"></a>
			<nav>
				<ul class="nav {{include.navclass}}" data-state="collapsed">>
					<li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">HOME</a></li>
					<li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">ABOUT</a></li>
					<li><a href="{{site.baseurl}}/thank-you.html" class="{% if page.url == '/thank-you.html' %}current{% endif %}">THANK YOU</a></li>
				</ul>
			</nav>

