
	<div class="media">
	<div class="media-img">
		<img src="http://placehold.it/200x370" alt="">
	</div>
	<div class="media-body">
		<h2>Product Details Page</h2>
		
		<h5> Product Name $99.99 </h5> <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mi augue, fringilla et neque non, adipiscing mattis justo. Fusce aliquam lacus vel augue aliquet malesuada. Quisque leo libero, condimentum id interdum eu, semper vel ligula. Nulla consectetur libero orci, pharetra iaculis nunc sollicitudin a. Sed egestas purus vel risus semper, pharetra euismod velit molestie.</p>
		
		<ul>
			<li>Lorem ipsum dolor sit amet</li>
			<li>Morbi vel orci volutpat</li>
			<li>Maecenas tempus diam accumsan nisi commodo</li>
		</ul>
		
		<a class="btn2 yotta" href="#">buy now</a>
	</div>
</div>
