@charset "UTF-8";
/* CSS Document */

.media{
	border: 1px solid rgb(49, 53, 61);
	overflow: hidden;
	float: center;
	margin-top: 10px;
	margin-left: 10px;
}

.media img{
	float: left;
	margin: 10px 10px 10px 10px;
}


.media-img-stacked {
	margin: 0;
}

.media-body{
	overflow: hidden;
}

.media p{
	margin: 10px 10px 10px 10px;
}

.media h2{
	margin: 10px 10px 10px 10px;
	float: center;
}

.media h3{
	margin: 10px 10px 10px 10px;
	float: center;
}

