@charset "UTF-8";
/* CSS Document */

/* Navigation Styles */


.current{
	color: #999;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;	
	background: #000 url(../images/nav-icon.svg) no-repeat center center;
	/* background-color || background-image || background-repeat || background-position*/
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background: #000 url(../images/nav-close.svg) no-repeat center center;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	padding: 1rem;
	text-align:center;
	color: #aaaaaa;
	text-decoration: none;
	background-color: #000;
	border-top: 2px solid #fff;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #fff;
}

	/* Toggle Nav*/

.nav-top{
	display: none;
}

.nav-top[data-state="expanded"]{
	display: block;
}
	
@media only screen and (min-width: 25em){
.nav{
	overflow: auto;
}
	
.nav li{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
  	width: 33.3333%;
}
	
.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: none;
}
	
.nav-top{
	display: block;
}

}

@media only screen and (min-width: 35em){
.nav{
	background-color: #000;
	text-align: center;
}
	
.nav li{
	display: inline-block;
	float: left;
	width:auto;
}

.nav .search {
	float: right;
	padding-top: .8rem;
	padding-bottom: .5rem;
	padding-right: .8rem;

}

.nav a, 
.nav a:link,
.nav a:visited{
	border-top: 0;
}
	
.nav-top{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

header{
	overflow: auto;
	margin-bottom: 0;
}

}

.subnav .nav { 
	background-color: #aaaaaa;
}

.subnav .nav a { 
	color: #000 ;
	background-color: #aaaaaa;
}

.subnav a:hover,
.subnav a:focus,
.subnav a:active{
	color: #fff;
}