@charset "UTF-8";
/* CSS Document */

.product-detail{
	border: 0px solid rgb(238, 239, 247);
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.product-img{
	float: left;
	margin: 10px 10px 10px 10px;
	max-height: 400px;
}

.product-img-stacked {
	float: none;
	margin: 0;
}

.product-body{
}

.product-detail p{
	margin: 10px 10px 10px 10px;
}

.product-detail h2{
	margin: 10px 10px 10px 10px;
	float: center;
}

.product-detail h5{
	margin: 10px 10px 10px 10px;
	float: center;
}

.btn2 {
	position: relative;
	bottom: 0px;
}

/* Rating */

.rating {
  margin: 10px 10px 10px 10px;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.5em;
}

.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: #e4d200;
}
