---
layout: default
---

<strong>Products</strong>

<nav>
	<ul>
		<li>
			<a href="{{site.baseurl}}/categories/{{categories.folder}}/" class="{% if page.url contains categories.folder %}current{% endif %}">Product 1</a>
		</li>

		<li>
			<a href="{{site.baseurl}}/categories/{{categories.folder}}/" class="{% if page.url contains categories.folder %}current{% endif %}">Product 2</a>
		</li>

		<li>
			<a href="{{site.baseurl}}/categories/{{categories.folder}}/" class="{% if page.url contains categories.folder %}current{% endif %}">Product 3</a>
		</li>
	</ul>
</nav>

{{content}}
